.admin-container {
  min-height: 100vh;
  padding: 40px;
  color: #151515;
  font-family: "Segoe UI", sans-serif;
  background-image: url("./premium_photo-1706023303251-d1fece103464.avif");
  background-position: center;
  background-size: cover;
}

.admin-title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  background: linear-gradient(to right, #161616, #818cf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}

.stat-card {
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 25px rgba(56,189,248,0.1);
  color: #000;
  background-color: #fbd6e3;
}

.stat-card h3 {
  margin: 10px 0 5px;
  font-size: 1rem;
  color: #121212;
}

.stat-card p {
  font-size: 1.8rem;
  font-weight: bold;
}

.panel {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 25px;
  margin-bottom: 30px;
  border: 1px solid rgba(255,255,255,0.1);
  background-color: #fbd6e3;
}

.panel h2 {
  margin-bottom: 15px;
  color: #161616;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

.badge.admin {
  background: linear-gradient(45deg,#facc15,#f97316);
  color: #000;
}

.badge.user {
  background: linear-gradient(45deg,#38bdf8,#6366f1);
  color: black;
}

.actions {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

.btn.promote {
  background: linear-gradient(45deg,#22c55e,#16a34a);
  color: #000;
}

.btn.delete {
  background: linear-gradient(45deg,#ef4444,#dc2626);
  color: #000;
}

.logs-box {
  max-height: 300px;
  overflow-y: auto;
}

.log-item {
  background: rgba(255,255,255,0.03);
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.log-item span {
  display: block;
  font-size: 0.75rem;
  color: #94a3b8;
}
