.settings-page {
  max-width: 500px;
  margin: auto;
  padding: 40px 20px;
  color: black;
  background-color: aliceblue;
}

.settings-card {
  background:  rgb(238, 218, 194);
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.settings-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.settings-card button {
  width: 100%;
  padding: 10px;
  background-color: rgb(183, 180, 180);
}

.logout-btn {
  width: 100%;
  background: #ff4d4d;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 10px;
}

.danger {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #ff4d4d;
  background: #fff5f5;
}

.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #e60000;
}
